# Build the H Reference Table
- multi-index table which contains the estimated walking duration (in seconds) from each stop to the other
---

In [3]:
import numpy as np
import pandas as pd
from datetime import timedelta as td

In [4]:
seq = pd.read_feather('data/model/shape_sequence_durations.ftr')

In [6]:
stops = pd.read_feather('data/model/stops.ftr')

In [9]:
f = pd.read_pickle('data/model/f.pickle')

In [10]:
f

1.4267500000002541e-05

In [11]:
stops.head(1)

   stop_id  stop_code                  stop_name   stop_lat   stop_lon
0      262        662  Danforth Rd at Kennedy Rd  43.714379 -79.260939

In [12]:
seq.head(1)

   shape_id  stop_sequence next_stop_duration  next_stop_seconds
0    886387              1    0 days 00:00:50               50.0

In [8]:
stops[stops.stop_id == 917]

,stop_id,stop_code,stop_name,stop_lat,stop_lon
436,917,9083,York Mills Rd at Sandover Dr (1222 York Mills),43.759813,-79.331751

In [42]:
stops[stops.stop_name.str.contains('York Mills Station')]

,stop_id,stop_code,stop_name,stop_lat,stop_lon
1371,2036,9065,Yonge St at York Mills Rd North Side (York Mil...,43.744863,-79.406660
7791,9756,9066,Yonge St at Wilson Ave (York Mills Station),43.744290,-79.406957
8655,14407,13792,York Mills Station - Southbound Platform,43.743248,-79.405991
8712,14464,13791,York Mills Station - Northbound Platform,43.744448,-79.406191

In [36]:
r = f * 60 * 5

In [44]:
s = stops[(stops.stop_lat < (43.743248 + r)) & (stops.stop_lat > (43.743248 - r)) & (stops.stop_lon < (-79.405991 + r)) & (stops.stop_lon > (-79.405991 - r))]

In [45]:
s

,stop_id,stop_code,stop_name,stop_lat,stop_lon
433,909,11371,Yonge St at Wilson Ave South Side,43.743514,-79.406769
434,910,11394,Yonge St at York Mills Rd,43.743783,-79.406435
437,918,9907,York Mills Rd at Yonge St East Side,43.744162,-79.405826
438,919,9906,York Mills Rd at Yonge St,43.744417,-79.405968
439,920,3264,York Mills Rd at York Ridge Rd,43.744189,-79.401756
1363,2025,11333,York Mills Rd at Old York Mills Rd,43.744177,-79.404398
1371,2036,9065,Yonge St at York Mills Rd North Side (York Mil...,43.744863,-79.406660
1786,2535,8954,3800 Yonge St,43.739128,-79.405865
2283,3125,9060,Yonge St at Mcglashan Rd,43.741787,-79.406054
2567,3458,9025,Yonge St at Mcglashan Rd South Side,43.741635,-79.406410
4700,6062,11334,York Mills Rd at Old York Mills Rd,43.744461,-79.404964
6937,8735,8963,Yonge St at William Carson Cres,43.747206,-79.407246
7523,9435,9029,Yonge St at Mill St,43.739952,-79.405683
7791,9756,9066,Yonge St at Wilson Ave (York Mills Station),43.744290,-79.406957
8102,10131,8964,Yonge St at William Carson Cres,43.747410,-79.407670
8655,14407,13792,York Mills Station - Southbound Platform,43.743248,-79.405991
8712,14464,13791,York Mills Station - Northbound Platform,43.744448,-79.406191
9369,24355,15972,York Mills Temporary Bus Loop,43.744159,-79.407760
9370,24356,15973,York Mills Temporary Bus Loop,43.744258,-79.407524
9371,24357,15974,York Mills Temporary Bus Loop,43.744303,-79.407324
9372,24358,15975,York Mills Temporary Bus Loop,43.744536,-79.407150
9373,24359,15976,York Mills Temporary Bus Loop,43.744634,-79.407686
9374,24360,15977,York Mills Temporary Bus Loop,43.744607,-79.407835
9375,24361,15978,York Mills Temporary Bus Loop,43.744545,-79.408035

In [40]:
tuple(s.stop_id)

(917, 3590, 4880, 5191, 6061, 6223, 6235, 6379, 6913, 8081, 10256)

In [6]:
H = stops.copy()

In [9]:
H = H.set_index('stop_id')

In [16]:
H = H.drop(columns = ['stop_code', 'stop_name'])

In [19]:
H = H.rename(columns = {'stop_lat': 'lat', 'stop_lon': 'lon'})

In [20]:
H

               lat        lon
stop_id
262      43.714379 -79.260939
263      43.674448 -79.399659
264      43.675511 -79.401938
265      43.702088 -79.378112
266      43.701362 -79.594843
...            ...        ...
24418    43.663948 -79.358666
24419    43.665766 -79.352651
24420    43.665695 -79.354843
24421    43.664960 -79.355329
24422    43.600805 -79.517877

[9419 rows x 2 columns]

In [34]:
V = H.index.to_list()

In [37]:
V = tuple(V)

In [38]:
type(V)

tuple

In [69]:
V[:10]

(262, 263, 264, 265, 266, 267, 268, 269, 270, 271)

In [68]:
V[-10:]

(24413, 24414, 24415, 24416, 24417, 24418, 24419, 24420, 24421, 24422)

In [70]:
stops

,stop_id,stop_code,stop_name,stop_lat,stop_lon
0,262,662,Danforth Rd at Kennedy Rd,43.714379,-79.260939
1,263,929,Davenport Rd at Bedford Rd,43.674448,-79.399659
2,264,940,Davenport Rd at Dupont St,43.675511,-79.401938
3,265,1871,Davisville Ave at Cleveland St,43.702088,-79.378112
4,266,11700,Disco Rd at Attwell Dr,43.701362,-79.594843
...,...,...,...,...,...
9414,24418,16031,Gerrard St East at River St,43.663948,-79.358666
9415,24419,16032,Broadview Ave at Gerrard St East North Side,43.665766,-79.352651
9416,24420,16033,Jack Layton Way at St Matthews Rd,43.665695,-79.354843
9417,24421,16034,St Matthews Rd at Gerrard St East,43.664960,-79.355329
9418,24422,16035,Birmingham St at Kipling Ave,43.600805,-79.517877

In [71]:
H

               lat        lon
stop_id
262      43.714379 -79.260939
263      43.674448 -79.399659
264      43.675511 -79.401938
265      43.702088 -79.378112
266      43.701362 -79.594843
...            ...        ...
24418    43.663948 -79.358666
24419    43.665766 -79.352651
24420    43.665695 -79.354843
24421    43.664960 -79.355329
24422    43.600805 -79.517877

[9419 rows x 2 columns]

In [74]:
H.loc[262, 'lat']

43.714379

In [236]:
df = pd.DataFrame(columns = ['V', 'v', 'V_lat', 'V_lon', 'v_lat', 'v_lon', 'distance', 'duration'])

In [237]:
df

Empty DataFrame
Columns: [V, v, V_lat, V_lon, v_lat, v_lon, distance, duration]
Index: []

In [238]:
%%time
c = 0
for v1 in V:
    for v2 in V:
        
        c += 1
        
        if v1 == v2: continue
            
        df.loc[c, 'V'] = v1
        df.loc[c, 'v'] = v2
        
        V_lat = H.loc[v1, 'lat']
        V_lon = H.loc[v1, 'lon']
        v_lat = H.loc[v2, 'lat']
        v_lon = H.loc[v2, 'lon']
        
        distance = abs(V_lat - v_lat) + abs(V_lon - v_lon)
        duration = distance / f
        
        df.loc[c, 'duration'] = duration
        
        if (c > 100000): break
    if (c > 100000): break

CPU times: user 6min 39s, sys: 19.4 s, total: 6min 58s
Wall time: 6min 59s

In [1]:
df.head(10)

NameError: name 'df' is not defined

In [219]:
df

          V     v      duration
2       262   263  12521.534957
3       262   264  12606.763624
4       262   265   9074.049413
5       262   266  24315.472227
6       262   267  24405.326792
...     ...   ...           ...
473090  349  2957  29647.240231
473091  349  2958  20941.650605
473092  349  2959    20608.2355
473093  349  2960   23181.28614
473094  349  2961           NaN

[473043 rows x 3 columns]

In [228]:
df.loc[df.duration == None]

Empty DataFrame
Columns: [V, v, duration]
Index: []

In [225]:
type(df.loc[473094].duration)

float

In [2]:
stops

NameError: name 'stops' is not defined